@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #12B4E3;
    overflow: hidden;
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #0DABC9;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: calc(100% - 60px); /* Adjust width to account for icon width */
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #0DABC9;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #0DABC9;
    border: 1px solid #0DABC9;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0; /* Align the icons to the left edge of the input */
    top: 0; /* Align the icons to the top of the input */
    padding: 0 15px; /* Adjust padding for proper alignment */
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #0DABC9;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0DABC9;
    border: 1px solid #0DABC9;
    cursor: pointer;
}

form .button input:hover {
    background: #12B4E3;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #12B4E3;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

.wrapper form .button button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    padding-left: 60px;
    background: #0DABC9;
    border: 1px solid #0DABC9;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.wrapper form .button button:hover {
    background: #12B4E3;
}
