{% extends 'BaseApp/base.html' %}
{% load static %}

{% block title %}

<title>Depo</title>
<link rel="stylesheet" href="{% static 'BaseApp/css/index.css' %}" type="text/css">



{% endblock %}


{% block body %}

{% if not user.is_authenticated  %}
    <a href="{% url 'accounts/login' %}">Login</a>
{% endif %}

<h1 style="text-align:center;">Arduino Storage</h1>
<img src="{% static 'BaseApp/img/blackArduino.svg' %}" alt="Arduino Resmi" id="logo">

<div class="profile">
<a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
<br>
<h2>{{user.username}}</h2>
</div>


<table border="1">
    <thead>
        <tr>
            <td>Name</td>
            <td>İmage</td>
            <td>Number</td>
            <td>Tools</td>
        </tr>
        
    </thead>
    <tbody>
        {% for part in items %}
            <tr>
                <td><p>{{part.name}}</p></td>
                <td><img src="{{part.image.image.url}}" alt="{{part.name}}'in resmi" id="SensörResmi"></td>
                <td><p>{{part.number}}</p></td>
                <td><form method="post"><a href="{% url 'update' pk=part.id %}" class="islem"><i class="fa-solid fa-pen-to-square"></i></a></form> <a href="{% url 'delete' pk=part.id %}"><i class="fa-solid fa-trash"></i></a>                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add' %}" id="add">Add sensor</a>

{% endblock body %}
