{% extends 'BaseApp/base.html' %}
{% load static %}

{% block title %}
<title>Profil</title>
<link rel="stylesheet" href="{% static 'BaseApp/css/profile.css' %}">
{% endblock title %}

{% block body %}

<img src="{% static 'BaseApp/img/blackArduino.svg' %}" alt="Arduino Resmi">

<h2 style="color:black;">{{user.username}}</h2>
<a href="{% url 'index' %}">Sensors</a>
<br>
<a href="{% url 'logout' %}">Log out</a>
<br>
<br>
<br>
<a href="{% url 'delete_user' %}">Delete account</a>
{% endblock body %}